@import url(reset.css);
body {
  background-image: url("../images/background.jpg");
  background-repeat: repeat; }

header {
  display: none;
  background-color: silver;
  text-align: center;
  padding: 2em; }
  header h1 {
    font-size: 3em; }

#game_space .row_container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row default;
  justify-content: space-around;
  margin-top: 2em; }
  #game_space .row_container .card {
    width: 10%; }
    #game_space .row_container .card .card-reveal {
      background-color: blue; }
      #game_space .row_container .card .card-reveal i {
        color: white; }
