@import 'reset.css';

body {
  background-image: url('../images/background.jpg');
  background-repeat: repeat;
}
header {
  display: none;
  background-color: silver;
  text-align: center;
  padding: 2em;
  h1 {
    font-size: 3em;
  }
}

#game_space {
  .row_container {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row (default);
    justify-content: space-around;
    margin-top: 2em;
    .card {
      width: 10%;
      .card-reveal {
        background-color: blue;
        i {
          color: white;
        }
      }
    }
  }
}
