body {
  background-image: url('../images/background.jpg');
  background-repeat: repeat;
}

.hidden {
  visibility: hidden;
}

#header {
  display: flex;
  align-content: space-around;
  flex-direction: row (default);
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(139, 72, 72);
  padding: 1em;
  h1 {
    color: white;
    text-align: center;
  }
}

.card {
  background-color: transparent;
  img {
    width: 80%;
    margin: 2em;
    border-radius: 25px;
    box-shadow: 23px 21px 3px 3px rgba(0, 0, 0, 0.35)
  }
}